body {
  color: #333;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 15px;
  line-height: 1.4;
  word-break: keep-all;


  @media print {
    font-size: 0.9rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 0.75rem;
}

p {
  margin: 0 0 0.75rem; }

a {
  color: #477dca;
  transition: color 150ms ease;
}
a:active,
a:focus,
a:hover {
color: #616161;
}

a {
  color: #2099bb;
  text-decoration: underline;
  &.no-under {
    //text-decoration: none;
  }
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.1rem;
  font-weight: 500;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
}

h3 {
  //font-weight: bold;
  font-size: 28px;
  color: #0e0e0e;
  text-align: left;
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 20px;

  @media print {
    margin-bottom: 20px;
  }
}

h4 {
  font-weight: 300;
  font-size:2.5rem;
  margin-bottom:3px;
}

p, ul {
  font-size: 16px;
  line-height: 28px;
}

a i {
  font-size:1.6rem;
}

.highlights {
    li {
      width: 100%;
      font-size: 16px;
      margin-bottom: 4px;
      //&:before {
      //  content: '\00B7';
      //}
    }
}

mark {
  padding: 4px 12px;
  font-size: 80%;
  color: #fff;
  background-color: #616161;
  border-radius: 8px;
  font-weight: bold;
}